<form>
    <table align="center">
        <tr>
            <td> Nom</td> <td><input name="nom" type="text" > </td>
        </tr>
        <tr>
            <td> Prenom</td> <td><input name="prenom" type="text" > </td>
        </tr>
        <tr>
            <td> Email</td> <td><input name="email" type="email" > </td>
        </tr>
        <tr>
            <td> Mot de passe</td> <td><input name="mdp" type="password" > </td>
        </tr>
        <tr>
            <td> <input value="Valider" class="btn btn-primary" type="submit"></td>
        </tr>
    </table>
</form>